.stopContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopContainer > span {
    margin-left: 10px;
}

.plusIconContainer {
    width: 35px;
    height: 35px;
    display: inline-flex;
    background-color: #ccc;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.plusIconContainer > svg {
    width: 15px;
    height: 15px;
}
