.stopContainer {
    display: flex;
    z-index: 100;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 10px;
}

.form {
    left: 0;
    margin-left: -90px;
}

.form > div, .formText {
    margin-bottom: 8px;
}

.submit {
    margin-top: 8px;
}

.magnified {
    border: 3px dashed red;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgray;
}

.stopContainer > span {
    margin-left: 10px;
}

.plusIconContainer {
    width: 35px;
    height: 35px;
    display: inline-flex;
    background-color: #eeeded;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.plusIconContainer > svg {
    width: 15px;
    height: 15px;
}
